

/* temporarily global for initial dev */

/* Home Page Header */
.intro {
  background-color:#eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../images/splashImage1456.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:480px; 
}

.intro .intro-body .intro-heading {
  color:009900;
}

.intro .intro-body .intro-text {
  margin-bottom:15px;
  font-size:21px;
  font-weight:200;
}

.intro .container {
  padding-top: 60;
  max-width:100%
}

@media (min-width:768px) {
  .intro{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container .intro,.container-fluid .intro {
    padding-right: 60px;
    padding-left: 60px;
  }
  .intro .h1,.intro h1{
    font-size: 63px;
  }
}

@media (max-width:768px) {
  .intro{
    padding-top: 32px;
    padding-bottom: 32px;
    background-position-x:30%;
    height:420px;
  }
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}


/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.controlOverflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.readonlyInputLabelEditUser {
  color: #05202d;
}

.alertEditUser {
  padding: 5px 8px;
  background: #d9edf7;
  width: auto;
  border-radius: 5px 5px 5px 5px;
  display:inline-block;
}

.noFocusEdituserInput {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.flex-containerMainCentered {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.flex-containerSubProfile {
  border: 1px solid #000000;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 6px 0px 0px;
  padding: 6px 6px 6px 6px;
  width: 100%;
  background-color: #d9edf7;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.spacerDot{
  border-radius:7px;
  background-color:#515151;
  width:4px;
  height:4px;
  position:relative;
  display:inline-block;
  top:-4px;
  left:0px;
  margin-left:-8px;
  margin-right:0px;
}

.text-center{
  text-align:center !important;
}


