{
  "presets": [
    "react",
    ["env", { 
      "targets": {
        "browsers": ["last 2 versions", "IE >= 8", "safari >= 7"],
        "node": "current"
      },
    }],
    "stage-0",
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-promise-to-bluebird",
  ],
}