{
  "presets":
  [
    "react",
    "env"
  ],
  "plugins":
  [
    "transform-object-rest-spread",
    "transform-promise-to-bluebird",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-react-display-name"
  ]
}



// {
//   "presets":
//   [
//     "react",
//     "env"
//   ],
//   "plugins":
//   [
//     "transform-object-rest-spread",
//     "transform-class-properties",
//     "transform-promise-to-bluebird",
//     "transform-decorators-legacy",
//     "transform-react-display-name"
//   ]
// }